<form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette tâche?');" class="inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="px-4 py-2 bg-rose-700 hover:bg-rose-800 rounded-md text-white transition-colors">
        <i class="fas fa-trash mr-2"></i> Supprimer
    </button>
</form>